/* primary color #3C4D67 */
/* hilight color #66553B */
body{
    font-family: 'Space Grotesk', sans-serif;;
}
header{
    background-color: #2D3949;
}

body{
    background-color: #313E51;
}

.category-logo{
    width: 10%;
}

.header-text-logo{
    width: 5%;
}

.quiz-category{
    background-color: #3C4D67;
}

.quiz-category:hover{
    cursor: pointer;
    /* border: 1px solid white; */
    background-color: #3b485b;
}

.answer-option{
    background-color: #3C4D67;
}


.answer-option:hover{
    cursor: pointer;
    /* border: 1px solid white; */
    border-bottom: 4px solid #66553B;
}

.pass{
    background-color: rgb(2, 84, 2);
}


.fail{
    background-color: rgb(125, 5, 5) !important;
}

.selected-answer{
    background-color: #66553B;
}