/* primary color #3C4D67 */
/* hilight color #66553B */
body{
    font-family: 'Space Grotesk', sans-serif;;
}
header{
    background-color: #2D3949;
}

body{
    background-color: #313E51;
}

.category-logo{
    width: 10%;
}

.quiz-category{
    background-color: #3C4D67;
}

.quiz-category:hover{
    cursor: pointer;
    /* border: 1px solid white; */
    background-color: #66553B;
}